* {
  /* border: 1px solid pink; */
  /* box-sizing: border-box; */
}

body, html {
  font-family: 'Roboto', sans-serif;
  background-color: #1E3659;
  height: 100%;
  /* height: 100%; */
  /* width: 100%; */
}

canvas {
  padding: 40px;
  height: 700px;
  width: 800px;
}

p {
  margin: 0;
  text-align: center;
  color: #FFFFFF;
}

.box--xsmall {
  height: 3em;
  text-align: left;
}

.box--small {
  align-items: center;
  height: 10em;
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: #1E3659;
  padding-bottom: 2em;
  width: 30em;
}

.box--medium {
  align-items: center;
  height: 14em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
  width: 20em;
}

.box--large {
  height: 30em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E3659;
  width: 20em;
  padding-bottom: 2em;
}

.box--header {
  font-size: 1.5em;
  margin-top: 0.4em;
  font-family: 'Karla', sans-serif;
}

.box--body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 8em;
}

.box--body-top {
  padding-top: 1em;
  padding-bottom: 2em;
}

.container {
  border: 1px solid #F5F6F7;
  border-radius: 0.25em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: 10px;
  /* padding: 10px; */
  /* width: 20em; */
  background-color: #9EB5BA;
  font-family: 'Karla', sans-serif;
}

.dashboard {
  /* align-items: center; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.graphs {
  color: #F5F6F7;
  display: flex;
  flex-direction: column;

}

.group--list  {
  /* display: none; */
    position: absolute;
    left: 52%;
    padding-top: 0%;
    padding-bottom: 0%;
    width: auto;
    height: auto;


    background: #F5F6F7;
    /* overflow: hidden; */
    border-radius: 1px;

    /* border: 1px solid #edede6; */
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
}


.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  width: 1110px;
}

.hidden {
  display: none !important;
}

.icon--large {
  justify-content: center;
  width: 7em;
}

.icon--small {
  width: 3.5em;
  padding: 0 2em 0 2em;
}

.navigation--bar {
  background-color: #9EB5BA;
  display: block;
  margin-right: 10px;
  max-width: 48px;
  padding-top: 80px;
}

.navigation--logo {
  margin: 0.5em;
  width: 2em;
}

.site {
  display: flex;
  height: 100%;
}

.user--data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.user--data-medium {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #1E3659;
  height: 30em;
  margin-top: 10px;
}

.user--data-sleep {
  width: 8em;
}

.user--information {
  display: flex;
  flex-direction: row;
  margin-bottom: 0em;
}

.user--welcome {
  font-size: 3.5em;
  color: #F5F6F7;
  font-family: 'Pacifico', cursive;
}

@media screen and (max-width: 800px) {
  .dashboard {
    margin: 0 auto;
    height: 100%;
  }
}

@media screen and (max-width: 550px) {
  .dashboard {
    height: 100%;
    width:100%;
  }

  .dashboard {
    float: none;
    height: 100%;
  }
}
