* {
  /* border: 1px solid pink; */
  /* box-sizing: border-box; */
}

body, html {
  border-bottom: 1px solid #fff;
  color: #BDBDBD;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

button {
  background-color: rgb(36,40,53);
  border-radius: 8px;
  color: #BDBDBD;
  font-size: 16px;
}

p {
  margin: 0;
  text-align: center;
  color: #BDBDBD;
  font-family: 'Montserrat', sans-serif;
}

th {
  font-size: 18px;
}

th, td {
  /* border: 1px solid black; */
  padding: 1em 2em 1em 1em;
}

/* .table--circle {
  background-color: wBDBDBD  border-radius: 50%;
  border: 1px solid black;
  height: 4em;
  position: relative;
  width: 4em;
  z-index: -1;
} */

.aside--bar {
  background-image: linear-gradient(90deg, rgb(54,51,68), rgb(36,34,48));
  border-left: 2px solid #2F2D3E;
  width: 30vw;
}

.box--banner {
  align-items: center;
  height: 15vh;
  text-align: left;
  display: flex;
  justify-content: space-between;
  color: #BDBDBD;
  padding-bottom: em;
  width: 45vw;
}

.box--small {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: space-around;
  text-align: left;
  width: 26vw;
}

.box--medium {
  align-items: center;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
  text-align: center;
  width: 26vw;
}

.box--large {
  align-items: center;
  color: #BDBDBD;
  display: flex;
  height: 50vh;
  justify-content: space-between;
  min-height: 500px;
  padding-bottom: 2em;
  text-align: center;
  width: 26vw;
}

.box--header {
  font-size: 1.5em;
  margin-top: 0.4em;
  /* font-family: 'Montserrat;', sans-serif; */
}

.box--body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 8em;
  max-width: 350px;
}

.box--body-top {
  padding-top: 0;
  padding-bottom: 1em;
}

.container {
  background-image: linear-gradient(90deg, rgb(63,67,87), rgb(36,40,53));
  border-left: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  border-radius: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: 1em;
  /* padding: 10px; */
  /* width: 20em; */
  /* background-color: #BDBDBD; */
  font-family: 'Montserrat', sans-serif;
}

.dashboard {
  align-items: center;
  background-image: linear-gradient(90deg, rgb(54,51,68), rgb(36,34,48));
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}

/* .date {
  color: #BDBDBD;
  font-family: 'Roboto', sans-serif;
} */

.graphs {
  /* color: #BDBDBD; */
  display: flex;
  flex-direction: column;
}

.graph--container {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.graph--circle {
  height: 50vh;
  width: 50vw;  
}

.graph--display {
  padding: 5em;
  height: 100%;
  width: 100%;
  /* background-color: #BDBDBD; */
  box-sizing: border-box;
}

.group--list  {
  padding-top: 0%;
  padding-bottom: 0%;
  width: auto;
  height: auto;
  margin-bottom: 5vh;
  /* background: #F5F6F7; */
  /* overflow: hidden; */
  border-radius: 1px;
  /* border: 1px solid #edede6; */
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.group--list-label {
  display: none;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 100vh; */
  /* border: 3px solid #004055; */
}

.hidden {
  display: none !important;
}

.icon--large {
  justify-content: center;
  width: 7em;
}

.icon--small {
  width: 3.5em;
  padding: 0 2em 0 2em;
}

.navigation--bar {
  background-image: linear-gradient(90deg, rgb(54,51,68), rgb(36,34,48));
  border-right: 2px solid #2F2D3E;
  border-radius: 0.25em;
  /* background-color: #BDBDBD; */
  display: block;
  /* margin-right: 10px; */
  margin-left: 0;
  padding-left: 0;
  min-width: 188px;
  padding-top: 80px;
  height: 100vh;
  width: 20vw;
}

.navigation--button {
  margin: 1em 0 1em 0;
  padding: 1em;
  width: 90%;
}

.site {
  display: flex;
  /* height: 100%; */
}

.user--average-hours,
.user--average-quality,
.user--daily-hours,
.user--daily-quality,
.user--daily-water {
  font-size: 20px;
}

.user--data {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
  font-size: 1em;
  /* width: 45vw; */
}

.user--data-medium {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* color: #BDBDBD; */
  height: 54vh;
  margin-top: -10px;

}

.user--data-sleep {
  width: 8em;
}

.user--welcome  {
text-shadow: 4px 3px 0 #7A7A7A;
font-size: 3.5em;
font-family: 'Architects Daughter', cursive;
margin: 1em 0 1em 0;
text-transform: uppercase;
}

#box--steps {
  margin-top: 19vh;
  margin-bottom: 7vh;
}

#graph--stairs {
  width: 50%;
  height: 50%;
}

@media screen and (max-width: 425px) {
  .dashboard {

  }
}

@media screen and (max-width: 768px) {
  .dashboard {

  }
}
