* {
  /* border: 1px solid pink; */
}

body, html {
  background-image: url(https://images.unsplash.com/photo-1594882645126-14020914d58d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=3463&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #BDBDBD;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  margin: 0;
  text-align: center;
  color: #BDBDBD;
  font-family: 'Montserrat', sans-serif;
}

th {
  font-size: 18px;
}

th, td {
  padding: 2vh 2vw 2vh 2vw;
}

/* .table--circle {
  background-color: wBDBDBD  border-radius: 50%;
  border: 1px solid black;
  height: 4em;
  position: relative;
  width: 4em;
  z-index: -1;
} */

.aside--bar {
  border-left: 2px solid rgb(35,56,70);
  width: 30vw;
}

.box--banner {
  align-items: center;
  min-height: 15vh;
  text-align: left;
  display: flex;
  justify-content: space-around;
  color: #BDBDBD;
  padding-bottom: 1em;
  width: 45vw;
}

.box--small {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 15vh;
  justify-content: space-around;
  text-align: center;
  width: 26vw;
}

.box--medium {
  align-items: center;
  /* height: 32vh; */
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
  text-align: center;
  width: 26vw;
  min-height: 32vh;
  min-width: 140px;
}

.box--large {
  align-items: center;
  color: #BDBDBD;
  display: flex;
  min-height: 40vh;
  justify-content: space-between;
  /* min-height: 500px; */
  padding-bottom: 2em;
  text-align: center;
  width: 26vw;
}

.box--header {
  font-size: 1.5em;
  margin-top: 0.4em;
}

.box--body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 260px;
}

.box--body-top {
  padding-top: 0;
  padding-bottom: 1em;
}

.container {
  background-image: linear-gradient(90deg, rgb(51,74,87), rgb(35,56,70));
  backdrop-filter: blur(15px);
  border-radius: 1em;
  box-shadow: 5px 5px 5px 5px black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin: 1em;
  opacity: 0.75;
  -moz-border-radius: 5px;
  -moz-box-shadow: 5px 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px 5px black;
}

.dashboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.graphs {
  display: flex;
  flex-direction: column;
}

.graph--container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.graph--display {
  background-color: rgb(35,56,70);
  margin: 5vh;
  opacity: 0.95;
  padding: 1em;
  width: 70vw;
}

.graph--display-donut {
  background-color: rgb(35,56,70);
  margin: 5vh;
  opacity: 0.95;
  padding: 1em 15vw 1em 15vw;
  width: 40vw;
}

/* .graph--display {
  padding: 5em;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
} */

.group--list  {
  padding-top: 0%;
  padding-bottom: 0%;
  width: auto;
  height: auto;
  margin-bottom: 10vh;
  border-radius: 1px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.group--list-label {
  display: none;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.icon--large {
  justify-content: center;
  width: 5vw;
  min-width: 4em;
  margin: 0 4vw 0 4vw;
}

.icon--small {
  width: 3.5em;
  padding: 0 2em 0 2em;
}

.navigation--bar {
  border-right: 2px solid rgb(35,56,70);
  border-radius: 0.25em;
  display: block;
  margin-left: 0;
  padding-left: 0;
  min-width: 188px;
  padding-top: 80px;
  min-height: 100vh;
  width: 20vw;
}

.navigation--button {
  background-color: rgb(8,11,7);
  border-radius: 8px;
  color: #BDBDBD;
  font-size: 16px;
  margin: 1em 0 1em 0;
  padding: 1em;
  width: 90%;
}

.site {
  display: flex;
  height: 100%;
  min-height: 100vh;
}

.table--contents {
  position: relative;
}

.table--contents::before {
  border: 2px solid black;
  /* border-radius: 50%; */
  content: '';
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  z-index: -1;
}

.user--average-hours,
.user--average-quality,
.user--daily-hours,
.user--daily-quality,
.user--daily-water {
  font-size: 20px;
}

.user--data {
  display: flex;
  font-size: 1em;
}

.user--data-medium {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 54vh;
  margin-top: -10px;

}

.user--data-sleep {
  width: 8em;
}

.user--welcome  {
text-shadow: 4px 3px 0 #7A7A7A;
font-size: 3.5em;
font-family: 'Architects Daughter', cursive;
margin: 1em 0 1em 0;
text-transform: uppercase;
}

#box--steps {
  margin-top: 19vh;
  margin-bottom: 4vh;
}

@media screen and (max-width: 425px) {
  .dashboard {

  }
}

@media screen and (max-width: 768px) {
  .site {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 98vw;
  }

  .navigation--bar {
    width: 100vw;
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;

  }

  .navigation--button,
  .group--list {
    width: 25vw;
    height: 5vh;
    margin: 0 2vw 0 2vw;
  }

  .aside--bar {
    width: 70vw;
    border: 0;
    display: flex;
    flex-wrap: wrap;
  }

  #box--steps {
    margin: 0;
  }

  .box--banner,
  .box--medium,
  .box--large {
    width: 70vw;
  }

  .dashboard {
    flex-wrap: wrap;
  }

  .user--data {
    flex-direction: column;
  }

}
